* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  background-image: url(steve-johnson-XoMl1ZQ9EEo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.hero-container {
  width: 80%;
  height: 29rem;
  margin: 4rem auto;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.25);
  color: white;
  animation: scaleup 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s 1 normal both;
  overflow: hidden;
}

@keyframes scaleup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  margin-right: 2rem;
  transition: all 0.3s ease;
}

nav a:hover,
.active {
  font-size: 1.05rem;
  font-weight: 600;
}

.nav-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.left-header {
  width: 40vw;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
  color: white;
}

.left-header p {
  margin-top: 0.5rem;
}

.herobtn {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.75rem 1.25rem;
  border: 2px solid white;
  border-radius: 2rem;
  display: inline-block;
  box-shadow: 0 0 20px white;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.herobtn:hover {
  background-color: transparent;
  color: white;
}

.left-icons i {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  padding-top: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-top: 1rem;
  margin-left: 0.5rem;
  color: white;

}

.left-icons i:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 20px white;
}

.imgbox {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  overflow: hidden;
}

.imgbox img {
  width: 100%;
  margin-top: -2rem;
  margin-left: 0rem;
}

.About-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-left-content {
  margin-top: -1rem;
  width: 40vw;
  animation: slideright 0.4s ease 0s 1 normal none;
}

@keyframes slideright {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

.about-left-content strong {
  font-size: 2.75rem;
  color: white;
  margin-left: 0.5rem;
}

.imgbox-about {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 2rem;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  overflow: hidden;
}

.imgbox-about img {
  width: 100%;
  margin-top: -2rem;
}

.about-para {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  width: 30rem;
  font-size: 1.25rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* margin-left: 15rem; */
  animation: slideleft 0.4s ease 0s 1 normal none;
}

@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(-1px);
  }
}

.skill-container {
  width: 100%;
  height: 25rem;
  color: white;
  text-align: center;
  margin-bottom: 4rem;
}

.skill-header {
  font-size: 2.5rem;
}

.skills {
  width: 100%;
  height: 23rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.skill-container img {
  width: 10rem;
  transition: all 0.4s ease;
}

.skill-container strong {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.25rem;
}

.skill-3 i {
  padding-top: 1.15rem;
}

.skill-4 i {
  padding-top: 1.15rem;
}

.skill-container img:hover {
  transform: translateY(-9px);
}

.skill-1 {
  animation: slideup 0.5s ease 0s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skill-2 {
  animation: slideup 0.5s ease 0.1s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skill-3 {
  animation: slideup 0.5s ease 0.2s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.skill-4 {
  animation: slideup 0.5s ease 0.3s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.service-container {
  width: 100%;
  min-height: 100vh;
  color: white;
}

.service-head {
  font-size: 2.5rem;
  text-align: center;
}

span {
  color: white;
}

.service-1-head {
  animation: slideright 0.4s ease 0s 1 normal none;
}

@keyframes slideright {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

.service-1-head strong {
  font-size: 4rem;
  margin-top: -3rem;
  animation: slideright 0.4s ease 0s 1 normal none;
}

@keyframes slideright {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

.service-1-head a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.75rem 1.25rem;
  border: 2px solid white;
  border-radius: 2rem;
  display: inline-block;
  box-shadow: 0 0 20px white;
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
  transition: all 0.3s ease;
}

.service-1-head a:hover {
  background-color: transparent;
  color: white;
}

.service-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}

.service-1-para {
  width: 25rem;
  margin-top: 6rem;
  text-align: center;
  font-size: 1.25rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  line-height: 2.5rem;
  text-transform: uppercase;
  padding: 2rem 2rem;
  animation: slideleft 0.4s ease 0s 1 normal none;
}

@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(-1px);
  }
}

.contact-container {
  width: 100%;
  height: 30rem;
  margin-top: 8rem;
}

.contact-header {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
}

.contact-info i {
  color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 4rem;
  padding-top: 1.5rem;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.contact-info i:hover {
  transform: translateY(-9px);
}

.contact-info strong {
  color: white;
  margin-top: 1rem;
  display: inline-block;
}

.contact-info a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  display: inline-block;
}

.contact-1 {
  animation: slideup 0.5s ease 0s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-2 {
  animation: slideup 0.5s ease 0.1s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-3 {
  animation: slideup 0.5s ease 0.2s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-4 {
  animation: slideup 0.5s ease 0.3s 1 normal none;
}

@keyframes slideup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  color: white;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.slide-up,
.slide-left,
.slide-right,
.scale-up {
  opacity: 0;
}

/* Slide Up */
.slide-up {
  transform: translateY(20px);
}

/* Slide Left */
.slide-left {
  transform: translateX(20px);
}

/* Slide Right */
.slide-right {
  transform: translateX(-20px);
}

/* Scale Up */
.scale-up {
  transform: scale(0.8);
}

.active {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
  transition: all 0.4s ease-out;
  animation-play-state: running !important;
}

.footer-btn {
  text-decoration: none;
  color: white;

}